* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-box {
  width: 75%;
  margin: 0 auto;
}

/* Header */
header {
  height: 100px;
  padding-bottom: 10px;
}

header img {
  height: 60%;
}

header ul {
  padding-top: 20px;
}

header li {
  color: #858585;
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

/* Main Body */
main {
  margin: 25px auto 6px auto;
}

/* Upper Section */
.jumbotron {
  height: 40%;
  margin-bottom: 45px;
  position: relative;
}

img, .overlay {
  border-radius: 15px;
}

.jumbotron img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.jumbotron-text {
  width: 50%;
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 20%;
  z-index: 2;
}




/* Lower Section */
/* Banner Box */
.banner h2 {
  font-size: 35px;
}

/* Three-Column Box */
.row img {
  display: block;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  object-fit: cover;
  padding-bottom: 15px;
  position: relative;
}

.column-1,
.column-3 {
  width: 24%;
  margin-left: 0;
  margin-right: 0;
}

.column-2 {
  width: 50%;
  margin: 0 1%;
}

.column-1,
.column-2,
.column-3 {
  float: left;
  background-color: #fff;
  position: relative;
}

/* Footer */
footer {
  height: 40px;
  background-color: #a100bd;
  margin-top: 15px;
}
